#div {
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  font-size: 50px;
}

#details {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

#details img{
  float: left;
  width: 30%;
}

#text {
  display: inline-block;
  width: 40%;
}

#campus h1{
  font-size: 40px;
  text-align: center;
}

#student-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttons{
  display: flex;
  justify-content: space-around;
}
